<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    </head>
    <body>
        <div class="login-container">
            <form class="login-form" action="/auth" method="get">
                <button class="button-primary login-btn" type="submit">Login</button>
            </form>
        </div>
    </body>
</html>